h1 {
    background-color: lightgreen;
    text-align: center;
}


ul {
    list-style-type: none;
}

.list {
    background-color: blanchedalmond;
    border: solid, black;
    text-align: center;
    font-size: 35px;
}


