
.homepage {
    margin: 20px;
}

h1 {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}


ul {
    list-style-type: none;
}

.recipe-items li{
    display: inline-block;
    border: 2px solid black;
    background-color: white;
}

.list {
    background-color: blanchedalmond;
    border: solid, black;
    /* text-align: left; */
    font-size: 35px;
}


